
   @font-face {
    font-family: 'Raleway';
    src: url('../static/Raleway-Light.ttf')  format('truetype'),
    url('..static/Raleway-SemiBold.ttf')  format('truetype') ;
   
}


// // ---------------------------------------
// // --CHARGEMENT DU STYLE ORDINATEUR--
// // ---------------------------------------


html{
    all: unset;
    margin-top: -8px;
    background-color: $gris;

    border-color: 4px solid green;
  

    width:auto;
  main{
        // border-color: 5px solid black;
        // background-color: blue;
        padding-left: 2%;
        padding-right:2%;
    }
    // header{
    //     // all:unset;
    //     // width: 100%;
    //     margin-left: -35px;
    //     margin-right: -35px;
    //     // border: 5px solid greenyellow;
    
    // }
   
   
}


//  footer{
//     margin-left: -8px;
//     margin-right: -8px;
//     margin-bottom: -10px; 
    
//     // border-right: 3px solid green;
// }

 
@media screen and (min-width: 300px)
    {
       

        main
        {
            margin-top: 40px;
            font-family: raleway;

            font-size: 20px;

            h1
            {
                text-align: center;
                text-decoration: underline;
                font-size: 25px;
            }
            .premierBlock
            {
            //    .img-div
            //    {
            //     display: flex;
            //    }

            .image
            {
                float: left;
                & img
                {
                    width: 200px;
                    border: 2px solid white;
                    border-radius: 10px 10px 10px 10px;

                }
            }
                &--div
                {
                    &--div1
                    {
                            &--ul1
                            {

                            }
                            &--p
                            {

                            }
                            &--ul2
                            {

                            }
                            &--p2
                            {

                            }

                    }

                    & h2 
                     {
                        text-align: center;
                        text-decoration: underline;
                        font-size: 25px;
                    }

                    


                }

                
                
            }


            .deuxiemeBlock
            {
                
                &--div
                {
                    & h2 
                    {
                       text-align: center;
                       text-decoration: underline;
                       font-size: 25px;
                   }

                    &--p1
                    {

                    }
                    &--p2
                    {

                    }
                    &--ul
                    {

                    }
                    &--p3
                    {

                    }
                    &--p4
                    {

                    }
                }
            }
            .troisiemeBlock
            { 
                #lien
                {all:unset; 
                    border: 2px solid $bleue-claire;
                    padding: 3px;
                    border-radius: 10px 10px 10px 10px;
                    &:hover{
                        background-color: $bleue-claire;
                        border:  2px solid $blue ;

                        border-radius: 15px 15px 15px 15px;
                    }
                }
                
                &--div
                {
                    display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                    &--figure
                {
                    all: unset;
                    padding: 10px;
                   & a
                   {
                    all: unset;
                    & img
                    {
                        width: 230px;
                        @include last-section-radius-shadow_tab;
                        @include agrandissement_generale;
                    }
                   }
                   
                        &--caption1
                        {

                        }
                    
                   
                        &--caption2
                        {

                        }
                    

                }
               
                }
                
               
            }
            .quatriemeBlock
            {
                display: flex;
                flex-direction: column;

                &--tableau
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
               
                &--tableau1
                {
                    border: 3px solid $black;
                    border-collapse:separate;
                    width: 80%;
                    height: 240px;

                   margin-bottom: 40px;

                    justify-content: center;
                    & td 
                    {
                        border: 2px solid $black;
                        border-collapse:separate;
                        text-align: center;
                    }
                    & caption
                    {
                        font-weight: $font-weight1;
                    }
                }

                &--tableau2
                {
                    border: 3px solid $black;
                    border-collapse:separate;
                    width: 80%;
                    height: 700px;
                    & caption
                    {
                        font-weight: $font-weight1;
                    }
                    & td 
                    {
                        border: 2px solid $black;
                        border-collapse:separate;
                        text-align: center;
                    }
                }
                //
            }

        }


// =============================================================================================
// =============================================================================================
//CODE DE LA PAGE DE PRESENTATION D'IMAGES
// =============================================================================================
// =============================================================================================

        .html
        { 
            all:unset;
            background-color: rgb(214, 238, 248);
           
                
                margin-top: -8px;
          
             
            
        }

       
          .presentation
          {
            margin-top: 40px;

            font-family: raleway;

            form 
            {
                display: inline;

            }

            #lien,input
            { 
                
                all:unset; 

                

                border: 2px solid $bleue-claire;
                padding: 5px;
                border-radius: 10px 10px 10px 10px;

                margin: 10px;

                &:hover{
                    background-color: $bleue-claire;
                    border:  2px solid $blue ;

                    border-radius: 15px 15px 15px 15px;
                }
          }
        }

        .presentation_image
            {
                margin-top: 20px;
                img
                {
                    width: 100%;
                    @include last-section-radius-shadow_tab;
                    @include agrandissement_generale;
                }

                figure
                {
                    all:unset;
                    margin: 20px;
                    // border : 2px solid $blue;

                    
                    

                }
                &--block1
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                    border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;


                    margin-bottom: 40px;


                    &--1
                    {
                        display: flex;
                        flex-direction: row;
                    }
                    
                }
                &--block2
                {
                    
                    
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                    border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--2
                    {
                        display: flex;
                        flex-direction: row;
                    }
                }
                 &--block3
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                     border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--3
                    {
                        display: flex;
                        flex-direction: row;
                    }
                }
                &--block4
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                     border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--4
                    {
                        display: flex;
                        flex-direction: row;

                    }
                }


                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

               

                
            }
    }  
    
    
    

    
    
 @media screen and (max-width: 992px)
    {
      
        
    }
    
    
    // // ---------------------------------------
    // // --CHARGEMENT DU STYLE MOBILE--
    // // ---------------------------------------
    
@media screen and (max-width :777px) 
    {
        .html
        { all:unset;
            background-color: rgb(214, 238, 248);
           
                // all: unset;
                margin-top: -30px;
                // background-color: $gris;
              main
              {
                margin-right:2%;
                margin-left: 2%;
              }
                   
                // }
             
            
        }

        header{
            // all:unset;

            margin-left: -8px;
            margin-right: -8px;
            
            // border: 2px solid greenyellow;
    
        }

        footer{

            margin-right: unset;
            margin-left: unset;

            margin-left: -8px;
            margin-right: -8px;
            margin-bottom: -10px; 
          
            // border-right: 3px solid green;
        }


          .presentation
          {
            margin-top: 40px;

            font-family: raleway;

            form 
            {
                display: inline;

            }

            #lien,input
            { 
                
                all:unset; 

                

                border: 2px solid $bleue-claire;
                padding: 5px;
                border-radius: 10px 10px 10px 10px;

                margin: 10px;

                &:hover{
                    background-color: $bleue-claire;
                    border:  2px solid $blue ;

                    border-radius: 15px 15px 15px 15px;
                }
          }
        }

        .presentation_image
            {
                margin-top: 20px;
                img
                {
                    width: 100%;
                    @include last-section-radius-shadow_tab;
                    @include agrandissement_generale;
                }

                figure
                {
                    all:unset;
                    margin: 20px;
                    // border : 2px solid $blue;

                    
                    

                }
                &--block1
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                    border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;


                    margin-bottom: 40px;


                    &--1
                    {
                        display: flex;
                        flex-direction: row;
                    }
                    
                }
                &--block2
                {
                    
                    
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                    border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--2
                    {
                        display: flex;
                        flex-direction: row;
                    }
                }
                 &--block3
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                     border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--3
                    {
                        display: flex;
                        flex-direction: row;
                    }
                }
                &--block4
                {
                    display: flex;
                    flex-direction: column;
                    // flex-wrap: wrap;
                     border: 2px solid $blue;

                    border-radius: 30px 30px 30px 30px;

                    margin-bottom: 40px;


                    &--4
                    {
                        display: flex;
                        flex-direction: row;

                    }
                }


                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

               

                
            }
    
    
    }
    