// --ETANT DONNÉE QUE ENCAPSULER LES VARIABLES PAR LE MEDIA QUERY LA REND INNACCESSIBLE, CHAQUE VERSION (MOBILE.TABLETTE,DESKTOP) AURA CES VARIABLES A PART --


// --VARIABLES DEKTOP--// --VARIABLES TABLETTE--// -VARIABLES MOBILE--

$blue:rgb(13, 13, 111);
$bleue-claire:#0065FC ;
$rose:rgb(158, 63, 107);
$citron:greenyellow ;
$black: black;
$white: #DEEBFF ;

// $bleue-claire-autre: #DEEBFF ;
$gris:#F2F2F2;

$font-weight1:bold;
$font-weight2:bolder;

$anim_dur:300ms;



